.event-card {
  width: 30%;
  margin: 1.5%;
  height: 600px;
  float: left;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.event-card .img {
  width: 100%;
  text-align: center;
  height: 170px;
  overflow: hidden;
}

.event-card .img img {
  width: 100%;
}

.event-card .description {
  width: 100%;
  padding: 10px;
}

.event-card .description span {
  display: block;
  overflow-y: auto;
  height: 260px;
}
